
<h1><%= restaurant.escape("name") %></h1>
<p>Rating: <%=restaurant.score%></p>

<p><%= restaurant.escape("description") %></p>
<p><%= restaurant.escape("location") %></p>

<h3>Reviews</h3>
<ul>
<% restaurant.reviews.each(function(review){ %>
	<li>
		<p><%= review.escape("title")%></p>
		<p><%= review.escape("comment")%></p>
		<p><%= review.escape("score")%></p>
	</li>
	<%})%>
</ul>

<a href="#/review/new">Add a Review</a>
<a href="#/">Index</a>